extends layout

block content
    //- .main-banner
    //-     h1 Joelle & Chris
    //- .quote
    //-     p
    //-         | "When you realize you want to spend the rest of your life with somebody, you want the rest of your
    //-         | life to start as soon as possible." –When Harry Met Sally
    .coming-soon
