doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/app.css')
    link(href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Dawning+of+a+New+Day' rel='stylesheet' type='text/css')
  body
    //- .nav
    //-     .content
    //-         .logo J&amp;D
    //-         ul
    //-             li The Couple
    //-             li The Wedding
    //-             li The Bridal Party
    //-             li Contact
    block content
