@font-face {
    font-family: 'LaserMetal';
    src: url('LaserMetal.ttf');
    src: url('Landliebe-webfont.ttf') format('truetype'),
}

$lady-font: "LaserMetal";
$main-font: applegothic;
$backup-font: 'Dawning of a New Day', cursive;
$man-font: 'IM Fell English SC', serif;


